<html>
  <body>
    <%=link_to "home", root_path %>
    <br><br>
    <div id="wrapper">
      <div id="hood_title">
        <h1><%= @hood.name %>, <%= @city.nickname %></h1>
      </div>
      <!-- match1 -->
      <div id="match-wrapper">
        <% @matches.each do |match| %>
          <div id="match">
            <div id="match_name">
              <h3> <%=match.name%> </h3>
            </div>
            <div id="match_image">
              <%= image_tag "http://#{match.nickname}.jpg.to/", height: '200px', width: '90%' %>
            </div>
            <div id="match-form">
            <%= form_for Tag.new do |f| %>
              <%=f.hidden_field :tagger_id, :value => @hood.id %>
              <%=f.hidden_field :taggee_id, :value => match.id %>
              <%=f.submit "", :id=>"Agree"%>
            <%end%>
            </div>
            <div id="percent-match">
              <h5>Total Tags: <%= match.tags.count %></h5>
            </div>
          </div>
        <% end %>

        <div id="match">
          <div id="match_name">
            <h3> Vote for another hood: </h3>
          </div>
          <div id="match_image">
            <br>
            <%= image_tag 'sanfrancisco.jpeg', width: '90%' %>
            <br>
          </div>
          <div id="match-form">
            <br>
            <%= form_for Tag.new do |f| %>
              <%=f.hidden_field :tagger_id, :value => @hood.id %>
              <%=f.collection_select(:taggee_id, @sf_hoods, :id, :name, :prompt => 'Select hood') %><br><br>
              <%=f.submit "Vote for this hood" %>
            <%end%>
            <br>
          </div>
        </div>
      </div>
      <div id="other_hoods">
        <h3>Checkout other hoods in <%= @city.nickname %>:</h3>
        <% @city.hoods.each do |hood| %>
            <h5><% if @hood != hood %><%= link_to hood.name, city_hood_path(@city, hood), :id => "other_hood_name"%><% end %></h5>
        <% end %>
      </div>
    </div>
  </body>
</html>